QDialog#PopupDialog QWidget#TitleWidget
{
	background-color: #d7dde5;
	min-width: 380px;
}

QDialog#PopupDialog QWidget#CenterWidget
{
    background-color: rgb(255, 255, 255);
    min-width: 380px;
}

QDialog#PopupDialog QLabel#title
{	
	color: #555555;
    font: bold 16px;
	font-family: 微软雅黑; 
}

QDialog#PopupDialog QPushButton#closeButton
{
	width: 36px;
	height: 18px;
   	border: none;
   	image: url(":/MPRDownloadTool/close_button_normal.png");
}

QDialog#PopupDialog QPushButton#closeButton:hover
{
    image: url(":/MPRDownloadTool/close_button_hover.png");
}

QDialog#PopupDialog QPushButton#closeButton:pressed
{
   	image: url(":/MPRDownloadTool/close_button_pressed.png");
}

QDialog#PopupDialog QLabel#MessageText
{	
	font-family: 微软雅黑;
	font: 14px;
    color: #555555;
}

QDialog#PopupDialog QPushButton#OkButton,
QDialog#PopupDialog QPushButton#CancelButton,
QDialog#PopupDialog QPushButton#YesButton,
QDialog#PopupDialog QPushButton#NoButton
{
    width: 100px;
    height: 22px;
    border-image: url(":/MPRDownloadTool/button_normal.png");
    font: 12px;
    color: #555555;
	font-family: 微软雅黑; 
}

QDialog#PopupDialog QPushButton#OkButton:hover,
QDialog#PopupDialog QPushButton#CancelButton:hover,
QDialog#PopupDialog QPushButton#YesButton:hover,
QDialog#PopupDialog QPushButton#NoButton:hover,
QDialog#PopupDialog QPushButton#OkButton:checked:hover,
QDialog#PopupDialog QPushButton#YesButton:checked:hover
{
    border-image: url(":/MPRDownloadTool/button_hover.png");
}

QDialog#PopupDialog QPushButton#OkButton:pressed,
QDialog#PopupDialog QPushButton#CancelButton:pressed,
QDialog#PopupDialog QPushButton#YesButton:pressed,
QDialog#PopupDialog QPushButton#NoButton:pressed,
QDialog#PopupDialog QPushButton#OkButton:checked:pressed,
QDialog#PopupDialog QPushButton#YesButton:checked:pressed
{
	border-image: url(":/MPRDownloadTool/button_pressed.png");
	color: #ffffff;
}

QDialog#PopupDialog QPushButton#OkButton:checked,
QDialog#PopupDialog QPushButton#YesButton:checked
{
	border-image: url(":/MPRDownloadTool/button_checked.png");
	color: #555555;
}